body {
	font-family: Arial;
}

.header {
	text-align: center;
	font-weight: bold;
	color: grey;
	padding: 1em 1em 0 1em;
}

#banner {
	width: 100%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
   float: left;
}

#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar li a:hover {
	background-color: #111;
}

#logout a{
	background-color: #444!important;
}

#logout a:hover  {
	background-color:  #555!important;
}

#container {
	margin: 0 auto;
	width: 60%;
	min-height: 60rem;
	padding: 0 2em;
}

#search-container {
	background-color: #e2e2e2;
	padding: 2em;
}

.button {
	border-radius: 8px;
	background-color: #2aa6e6;
	color: white;
	border: 1px solid grey;
	font-weight: bold;
	padding: 1px 1em;
}

.button:hover {
	cursor: pointer;
}

.redirect {
	cursor: pointer;
}

input {
	margin: 5px;
	}